<div class="col-sm">
 <div class="form-group border border-primary">
  <label  class="input-group-text" for="{{rootName}}-root">Choose {{rootName}}:</label>
  <select class="semantic-root" id="{{rootName}}" database="{{database}}" rootURI="{{rootURI}}">
  <option value="">--any--</option>
  </select>
  </div>
</div>